/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 24, 2025, 6:37:07 PM
    Author     : asus
*/

.footer {
      text-align: center;
      color: white;
      font-weight: 600;
      padding: 10px;
      background-color: #16A085;
      position: fixed;
      left:250px;
      bottom: 0;
      width: calc(100% - 250px);
      text-align: center;
}